.titulo{
    text-align: center;
    font-family: "Courgette", cursive;
}

.termino{
    border: solid 5px black;
    text-align: center;
    border-radius: 15px;
    width: 80%;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    font-size: 1.5cqmax;
    
}

.definicion{
    border: solid 5px black;
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 15px;
    font-size: 1.5cqmax;
    display: none;
}

p{
    font-family: "Courgette", cursive;
    font-size:2cqmax;
    text-align: center;
}

.boton{
    text-align: center;
    margin-top: 50px;
}

button{
    color: white;
    background-color: rgb(54, 179, 54);
    padding: 20px;
    
}
